@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,900&subset=latin-ext');

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: Raleway;
}

  /********************
   * PAGE VARIABLES
  ********************/

:root {
  --White: white;
  --Black: black;
  --SilverBright: #eee;
  --SilverDark: #999;
  --Accent1: #9e1b3d;
  --Accent1Bright: #BF3E57;
  --Accent1Dark: #84002A;
  --Accent2: #ffcb09;
  --Accent2Bright: #FFE739;
  --Accent2Dark: #E3B300;
  --MouseColor: #ffcb09;
}

.textWhite {
  color: var(--White);
}
.textGrey {
  color: var(--SilverDark);
}
.textBlack {
  color: var(--Black);
}
.textRed {
  color: var(--Accent1);
}
.textYellow {
  color: var(--Accent2);
}

.btn {
  width: 100%;
  background-color: var(--Accent1);
  color: var(--Accent2);
  padding: 12px 18px;
  margin: 30px;
  border: 1px solid var(--Black);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.inputText {
  display: inline-block;
  width: 100%;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
}
  .inputText > input {
    width: 100%;
    height: 32px;
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid var(--Accent2);
    border-width: 0px 0px 1px 0px;
    background-color: rgba(0, 0, 0, 0);
  }

.container {
  display: inline-block;
  width: 1200px;
  margin-left: calc(50% - 600px);
}

.banner {
  display: inline-block;
  width: 720px;
  margin-left: calc(50% - 360px);
}

.banner > div {
  margin: 60px 0 0 0; /* marginas tarp pagrindiniu blogu headeryje. */
}

  /********************
   * HEADER
  ********************/

header {
  background-image: url(../img/imgBG2.jpg);
  width: 100%;
  height: 100vh;
  min-height: 960px;
  background-position: center middle;
  background-size: cover;
  background-attachment: fixed;
  /*transform: rotateY(180deg);  /* SUMMON DESTYTUVAS */
}
header > img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(555, 555, 0, 0.5), rgba(0, 0, 0, 0), rgba(555, 0, 555, 0.5));
}

  header > div {
    display: inline-block;
    float: left;
    width: 100%;
  }

  /********************
   * HEADER LOGO ELEMENT
  ********************/

.logo {
  width: 128px;
  height: 128px;
  background-image: url(../img/KASP_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: calc(50% - 64px);
}

  /********************
   * HEADER TEXT INFO
  ********************/

header h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  margin-bottom: 16px; /* margin tarp h1 ir p */
}
header p {
  font-weight: 200;
  font-size: 24px;
  text-align: center;
}
  header p > span {
    display: inline-block;
  }

  /********************
   * HEADER CLOCK ELEMENT
  ********************/

.clock {
    display: inline-block;
    width: 100%; /* originalus banner plotis 720px */
    margin-left: calc(50% - 360px);
}
    .clock > .time {
        display: inline-block;
        float: left;
        margin: 0;
        width: 25%;
        font-size: 64px;
        font-weight: 900;
    }
        .clock > .time > * {
            text-align: center;
        }
        .clock > .time > .unit {
            font-size: 24px;
            line-height: 24px;
            font-weight: 300;
        }

}

  /********************
   * HEADER EMAIL INPUT & SUBSCRIBE ELEMENT
  ********************/

.subscribe {

}
  .subscribe > form {
    display: inline-block;
    float: left;
    width: 100%;
  }
  .subscribe > form input[type=text] {

  }
  .subscribe > form > input[type=submit] {
    width: 256px;
    margin-left: calc(50% - 128px);
  }

  /********************
   * HEADER MOUSE ELEMENT
  ********************/

.mouse {
  height: 50px;
  width: 30px;
  margin-left: calc(50% - 360px);
  border: 3px solid var(--MouseColor);
  border-radius: 15px;
  background-color: rgba(0,0,0,0);
  position: relative;
  left: calc(50% - 15px);
}
  .mouse > .rutuliukas {
    width: 4px;
    height: 8px;
    background-color: var(--MouseColor);
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: calc(50% - 2px);
    animation-name: animacija;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
  }
    @keyframes animacija {
      0%  {
        top: 4px;
        opacity: 0;
      }
     25%  {
       opacity: 1;
     }
     55%  {
       opacity: 1;
     }
     90% {
       opacity: 0;
     }
      100% {
        top: 25px;
        opacity: 0;
     }
    }

    /********************
     * CONTENT
    ********************/

.content {
  margin-top: 192px;
  margin-bottom: 192px;
}
  .content h1 {
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 600;
    margin: 0px 0px 30px 0px;
  }
  .content p {
    font-family: Raleway;
    font-weight: 400;
    color: var(--SilverDark);
    margin: 0px 0px 30px 0px;
  }
  .content a {
    color: var(--Accent1);
    text-decoration: none;
  }

section {
  display: inline-block;
  float: left;
  padding: 0px 25px;
  width: 100%;
}
  section > div {
  }
  .content-left {
    display: inline-block;
    float: left;
    width: 50%;
  }
    .progress-section {
      display: inline-block;
      width: 100%;
    }
      .progress-section > span:nth-child(odd) {
        float: left;
        padding: 0 0 10px 0;
      }
      .progress-section > span:nth-child(even) {
        float: right;
        padding: 0 0 10px 0;
      }
    .progress {
      display: inline-block;
      width: 100%;
      height: 6px;
      background-color: var(--SilverBright);
      margin-bottom: 30px;
    }
      .progress-bar {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: var(--Accent2);
      }
        .pb1 {
          width: 90%;
        }
        .pb2 {
          width: 85%;
        }
        .pb3 {
          width: 92%;
        }


  .content-right {
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 10%;
  }
    .register > form {
      display: inline-block;
      width: 100%;
    }
    .register > form input[type=text] {
      border: 1px solid #ccc;
      border-width: 0px 0px 1px 0px;
    }
      .register > form > div {
        display: inline-block;
        float: left;
        width: 100%;
        margin: 0 0 30px 0;
      }
      .register > form > div > div {
        float: left;
        width: 50%;
        padding: 0 10px;
      }

      .register > form input[type=text] {
        width: 100%;
      }

      /************
       * Send Message Button
       ************/

  .register > input[type=submit] {
    display: inline-block;
    float: right;
    width: 50%;
  }


/************
 * FOOTER
 ************/

footer {
  display: inline-block;
  width: 100%;
  height: 512px;
  background: var(--Accent1);
  position: relative;
}
.back-to-top {
   display: block;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: var(--Accent2);
   position: absolute;
   top: -40px;
   right: 80px;
   border: 1px solid var(--Accent2Dark);
   border-width: 0px 2px 4px 2px;
   box-shadow: 15px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
  .back-to-top .arrow-up {
    position: relative;
    left: 26px;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid var(--Accent2Dark);
  }

  /************
   * FOOTER UPPER
   ************/

.footerUpper {

}

.footerUpper > .socialMediaIcons {
    display: inline-block;
    float: left;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 40px 0px;
  }
.footerUpper > .socialMediaIcons > .icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-left: 12px;
}
  .footerUpper > .socialMediaIcons > .icon:hover {
    background-color: var(--Accent1Dark);
    border-radius: 50%;
  }
.footerUpper > .socialMediaIcons > .icon .fa {
  line-height: 48px;
  font-size: 18px;
  width: 100%;
  color: var(--Accent2);
}

/************
 * FOOTER LOWER
 ************/

.footerLower {
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: var(--Accent1Dark);
  text-align: center;
}
  .footerLower p {
    color: var(--Accent1Bright);
  }
  .footerLower a {
    color: var(--SilverBright);
    text-decoration: none;
  }

.footerLogo {
  width: 64px;
  height: 64px;
  background-image: url(../img/KASP_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin-left: calc(50% - 32px);
  /*margin-top: calc(256px);*/
}




@media (max-width:800px) {

}


@media (max-width:480px) {

}
